@import "./variables.sass"

section.info
    display: block
    width: 70vw
    padding: 10vh 0
    margin: 0 auto
    position: relative
    background-color: $white
    overflow: hidden
    h1
        font-size: 28px
        font-weight: 700
        margin-bottom: 20px
        transform: translateX(-100%)
        transition: .5s
    section.paragraph
        text-align: justify
        font-size: 18px
        margin: 20px
        transform: translateX(calc(-100% - 20px))
        transition: .5s
        a
            color: $orange
        ul.tools
            display: flex
            margin: 20px
            flex-wrap: wrap
            li
                flex-grow: 1
                flex-basis: 20%
                padding: 10px 
                text-align: center
                cursor: pointer
                img
                    display: block
                    margin: 0 auto
                    width: 100px
                    height: 100px
                    filter: gray
                    filter: grayscale(1)
                    transition: .5s
                span
                    display: inline-block
                    opacity: 0
                    padding: 20px
                    transition: .5s
                &:hover img
                    filter: greyscale(0)
                    filter: none
                &:hover span
                    opacity: 1

    div.wrapImg
        display: inline-block
        width: 250px
        height: 250px
        border-radius: 50%
        border: 8px solid $white
        box-shadow: 0px 0px 5px 0px $darkGrey
        overflow: hidden
        float: right
        text-align: center
        margin: 20px
        transform: translateX(calc(100% + 30px))
        transition: .5s
        img
            width: 100%
            height: 100%
            object-fit: cover
    .visible
        transform: translateX(0) !important

@media (max-width: 1140px)
    section.info
        width: 95vw
@media (max-width: 425px)
    section.info div.wrapImg
        float: none